@page "/treeview/example/basic-example"

@using RForgeBlazor.Services

@rendermode InteractiveAuto

@inject IDialogManager DialogManager
@inject INotificationManager NotificationManager

<ExampleDetail Title="Basic Example"
SubTitle="Tree View"
ComponentName="Tree View"
PageSourceUrl="@RForgeHelpers.RepoDocsUrl("/RForgeDocs.Client/Pages/Examples/TreeView/BasicExamplePage.razor")"
ComponentDetailsUrl="/treeview/details" />

<div class="columns">
    <div class="column is-4">
        <article class="section">
            <div class="box">
                <div class="content">
                    <p>
                        This example showcases using <code>RfTreeView</code> in a non dynamic way.
                    </p>
                    <p>
                        The example makes use of a common menu like structure of pages and actions
                        showcasing how to interact with a <code>RfTreeNode</code>.
                    </p>

                </div>
            </div>
        </article>
    </div>
    <div class="column">
        <article class="section">

            <RfTreeView AllowSelection=false>

                <RfTreeLabel>Movies by Genre</RfTreeLabel>
                <RfTreeList>
                    <RfTreeNode>
                        <Node>Action</Node>
                        <Children>

                            <RfTreeNode>
                                <Node>War</Node>
                                <Children>
                                    <RfTreeNode NodeClick="@(() => OnNodeClick("War"))">
                                        <Node>Add New</Node>
                                    </RfTreeNode>
                                </Children>
                            </RfTreeNode>
                            <RfTreeNode>
                                <Node>Superhero</Node>
                                <Children>
                                    <RfTreeNode LinkUrl="https://www.imdb.com/title/tt1877830/">
                                        <Node>Batman</Node>
                                    </RfTreeNode>
                                    <RfTreeNode LinkUrl="https://www.imdb.com/title/tt0371746/">
                                        <Node>Ironman</Node>
                                    </RfTreeNode>
                                    <RfTreeNode LinkUrl="https://www.imdb.com/title/tt5950044/">
                                        <Node>Superman</Node>
                                    </RfTreeNode>
                                    <RfTreeNode NodeClick="@(() => OnNodeClick("Superhero"))" IconCss="fa-solid fa-plus">
                                        <Node>Add New</Node>
                                    </RfTreeNode>
                                </Children>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                    <RfTreeNode>
                        <Node>Animation</Node>
                        <Children>
                            <RfTreeNode NodeClick="@(() => OnNodeClick("Animation"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                    <RfTreeNode>
                        <Node>Comedy</Node>
                        <Children>
                            <RfTreeNode  NodeClick="@(() => OnNodeClick("Comedy"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                    <RfTreeNode>
                        <Node>Crime</Node>
                        <Children>
                            <RfTreeNode  NodeClick="@(() => OnNodeClick("Crime"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                    <RfTreeNode>
                        <Node>Drama</Node>
                        <Children>
                            <RfTreeNode  NodeClick="@(() => OnNodeClick("Drama"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                    <RfTreeNode>
                        <Node>Horror</Node>
                        <Children>
                            <RfTreeNode  NodeClick="@(() => OnNodeClick("Horror"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>

                    <RfTreeNode>
                        <Node>Romance</Node>
                        <Children>
                            <RfTreeNode  NodeClick="@(() => OnNodeClick("Romance"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>

                    <RfTreeNode>
                        <Node>Science Fiction</Node>
                        <Children>
                            <RfTreeNode NodeClick="@(() => OnNodeClick("Science Fiction"))">
                                <Node>Add New</Node>
                            </RfTreeNode>
                        </Children>
                    </RfTreeNode>
                </RfTreeList>

            </RfTreeView>


        </article>
    </div>
</div>

<RfDialogManager />
<RfNotificationManager />

@code {

    private AddMovieData BuildMovie(string genre)
    {
        return new AddMovieData
            {
                Genre = genre
            };
    }

    private class AddMovieData
    {
        public string Genre { get; set; }
    }

    private void OnNodeClick(string genre)
    {
        DialogManager.Prompt($"Add new movie for genre: {genre}", "What is the movie called?", OnAddMovie, "Add", "Cancel");
    }

    private Task OnAddMovie(string movieName)
    {
        if (movieName == null) return Task.CompletedTask;

        NotificationManager.AddSuccess("Nothing actually was added to keep this page simple.", $"Successfully added {movieName}!");
        return Task.CompletedTask;
    }
}
