@inherits RfDgFilterSelect<bool?>

<th>
    <select value="@Value?.ToString()"
            @onchange=OnChange
            name="@Name"
            title="@Title"
            class="input is-small @CssClass"
            aria-label="@AriaLabelValue">
        @foreach (var option in Options)
        {
            <option value="@option.Value?.ToString()">@option.Text</option>
        }
    </select>

</th>


