<li>

    @switch (GetDisplayMode())
    {
        case TreeNodeDisplayMode.Display:
        case TreeNodeDisplayMode.Loading:

            @if (HasChildren == true)
            {
                <div class="tree-node @Rf.ClassWhen(("is-active", IsSelected))">

                    <button type="button"
                            class="button node-icon @Rf.ClassWhen(("is-loading", IsLoading))"
                            disabled=@(MyAllowExpand != true)
                            title="@ExpandTitleText"
                            aria-expanded="@IsExpanded.ToString().ToLower()"
                            aria-controls="@ChildrenId"
                            @onclick=OnToggleExpandClick
                            @onclick:stopPropagation="true"
                            @onclick:preventDefault="true">

                        @if (HasIcon() == true)
                        {
                            <i class="@GetIconCss()" />
                        }

                    </button>

                    <a class="node-label"
                       href="@LinkUrl"
                       @onclick=OnNodeClickCallback>@Node</a>
                </div>

                <ul class="@Rf.ClassWhen(("is-open", IsExpanded))"
                    id="@ChildrenId">
                    @if (IsLoading == true)
                    {
                        @for (int i = 0; i < LoadingNodeCount; i++)
                        {
                            <li>
                                <a class="is-skeleton">&nbsp;</a>
                            </li>
                        }
                    }
                    else
                    {
                        @Children
                    }
                </ul>
            }
            else
            {
                <a class="tree-node @Rf.ClassWhen(("is-active", IsSelected))"
                   href="@LinkUrl"
                   @onclick=OnNodeClickCallback>

                    <span class="node-icon">
                        @if (HasIcon() == true)
                        {
                            <i class="@GetIconCss()" />
                        }
                    </span>

                    <span class="node-label">@Node</span>
                </a>
            }

            break;

        case TreeNodeDisplayMode.TreeViewPrerender:
            <a class="is-skeleton">&nbsp;</a>
            @if (HasChildren == true)
            {
                <ul class="is-open"
                    id="@ChildrenId">
                    @Children
                </ul>
            }
            break;
    }

</li>